<aside id="sidebar"
        class="fixed md:static h-screen z-30 w-64 bg-white shadow-lg transform -translate-x-full md:translate-x-0 transition-transform duration-300">


        <nav class="p-4 space-y-2">
            <a href="#" class="block px-4 py-2 rounded-lg  mb-20">All Books <i class="fa-solid fa-right-long ml-24"></i></a>
            <div class="flex flex-col gap-5">
                <a href="../src/pages/login.html" class="w-full">
                    <button
                        class=" w-full bg-gray-600 text-white py-2 px-4 rounded-md active:bg-gray-500 cursor-pointer">login</button>
                </a>
                <a href="../src/pages/signup.html">
                    <button
                        class="w-full bg-white-600 text-black py-2 px-4 rounded-md active:bg-gray-100 cursor-pointer border border-gray-200">signup</button>
                </a>

            </div>
        </nav>

    </aside>